<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Practice</title>
  </head>
  <body>

    <h1>API PRACTICE</h1>
    

    <% for (let key in sprites) { %>
      <% let url = sprites[key]; %>

      <% if (url !== null) { %>
        <img src="<%= url %>" alt="">
      <% } %>
    <% } %>

  </body>
</html>
